body {
    font-family: Arial, sans-serif;
    background-color: #F4F1E6;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #2F5D50;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 30px;
}

body > p {
    text-align:center;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    margin-top: 35px;
}

h2 a {
    color: #9A5B3A;
    font-family:Georgia, serif;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

img {
    display:block;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
}

p {
    line-height: 1.6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    text-align: center;
    font-family: Georgia, serif;
    font-style: italic;
    color: #8B5E3C;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 45px;
}

.subtitle::after {
    content: "";
    display: block;
    width: 480px;
    height: 2px;
    background-color: #9A5B3A;
    margin: 15px auto 0;
}